<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Bootstrap Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
        
    <div class="d-grid gap-4">
        <a href="edit_user_details" class="btn btn-primary btn-lg btn-block" role="button">Edit profile</a>
        <a href="invest" class="btn btn-primary btn-lg btn-block" role="button">Invest</a>
        <a href="withdraw" class="btn btn-primary btn-lg btn-block" role="button">Withdraw</a>
        <a href="get_your_investments" class="btn btn-primary btn-lg btn-block" role="button">Your Investment</a>
        <a href="search" class="btn btn-primary btn-lg btn-block" role="button">Search</a>
        <a href="most_investments" class="btn btn-primary btn-lg btn-block" role="button">Trending Investments</a>
      </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>